GLOBAL_MODEL_PATH=D:\Users\HP\multi-modal-federated-learning-leukemia-dignosis\models\global models\global_model_round_5.keras
ALPHA_MODEL_PATH=D:\Users\HP\multi-modal-federated-learning-leukemia-dignosis\models\base models\local_model_alpha.keras
BETA_MODEL_PATH=D:\Users\HP\multi-modal-federated-learning-leukemia-dignosis\models\base models\local_model_beta.keras

SCALER_PATH=D:\Users\HP\multi-modal-federated-learning-leukemia-dignosis\models\scaler\scaler_global.joblib

ALLOWED_ORIGINS=http://localhost:3000
